.place__title {
  margin: unset;
  padding: unset;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  color: var(--white);
}

@media screen and (max-width: 495px) {
  .place__title {
    margin-right: 16px;
    margin-left: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (min-width: 496px) {
  .place__title {
    margin-right: 16px;
    margin-left: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (min-width: 768px) {
  .place__title {
    margin-right: unset;
    margin-left: unset;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width: 1280px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  }
}
