.photo-grid {
  margin: 0 auto;
  margin-top: 92px;
  display: grid;
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin-top: 64px;
    grid-template-columns: repeat(1, 288px);
    grid-template-rows: repeat(12, 216px);
    gap: 12px;
    max-width: 288px;
  }
}

@media screen and (min-width: 320px) {
  .photo-grid {
    margin-top: 64px;
    grid-template-columns: repeat(1, 288px);
    grid-template-rows: repeat(12, 216px);
    gap: 12px;
    max-width: 288px;
  }
}

@media screen and (min-width: 768px) {
  .photo-grid {
    margin-top: 88px;
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(6, 264px);
    gap: 16px;
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    gap: 14px;
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
    max-width: 1184px;
  }
}
