.places {
  margin-top: 92px;
}

@media screen and (max-width: 320px) {
  .places {
    margin-top: 64px;
  }
}

@media screen and (min-width: 320px) {
  .places {
    margin-top: 64px;
  }
}

@media screen and (min-width: 768px) {
  .places {
    margin-top: 88px;
  }
}
