.header__lang {
  text-decoration: none;
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  transition: all var(--linkTransition);
}

.header__lang:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__lang {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (min-width: 320px) {
  .header__lang {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .header__lang {
    font-size: 24px;
    line-height: 28px;
  }
}
