@media screen and (max-width: 320px) {
  .lead {
    margin-top: 48px;
    width: 100vw;
  }
}

@media screen and (min-width: 768px) {
  .lead {
    margin-top: 48px;
    width: 100vw;
  }
}

@media screen and (min-width: 1024px) {
  .lead {
    margin: 0 auto;
    margin-top: 55px;
    width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    margin: 0 auto;
    margin-top: 55px;
    width: 984px;
  }
}
