.cover__subtitle {
  z-index: inherit;
  max-width: 360px;
  margin: 0 auto;
  margin-top: 32px;
  padding: unset;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--white);
}

@media screen and (max-width: 495px) {
  .cover__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 496px) {
  .cover__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    margin-top: 32px;
    font-size: 18px;
    line-height: 22px;
  }
}
