.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  margin-top: 28px;
  max-height: 52px;
}

@media screen and (max-width: 320px) {
  .header {
    max-height: 42px;
    max-width: 288px;
  }
}

@media screen and (min-width: 320px) {
  .header {
    max-height: 42px;
    max-width: 288px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1184px;
  }
}
