.lead__title {
  margin: 0 auto;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  color: var(--white);
  text-align: center;
  max-width: 720px;
  font-size: 72px;
  line-height: 100px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}

@media screen and (min-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    min-width: 288px;
  }
}

@media screen and (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    font-size: 72px;
    line-height: 100px;
  }
}
