.place__paragraph {
  margin: unset;
  margin-bottom: 25px;
  padding: unset;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--white);
  font-size: 16px;
  line-height: 163%;
}

.place__paragraph:last-of-type {
  margin-bottom: unset;
}

@media screen and (max-width: 495px) {
  .place__paragraph {
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 496px) {
  .place__paragraph {
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    margin-right: unset;
    margin-left: unset;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 163%;
  }
}

@media screen and (min-width: 1280px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 163%;
  }
}
