.footer__copyright {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: unset;
  padding: unset;
  color: var(--white);
}

@media screen and (max-width: 495px) {
  .footer__copyright {
    line-height: 14px;
    margin-top: 48px;
  }
}

@media screen and (min-width: 496px) {
  .footer__copyright {
    line-height: 14px;
    margin-top: 48px;
  }
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    line-height: 16px;
    margin-top: unset;
  }
}
