.lead__subtitle {
  margin: unset;
  margin: 0 auto;
  margin-top: 32px;
  padding: unset;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: var(--white);
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 320px) {
  .lead__subtitle {
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    max-width: 640px;
    margin-top: 32px;
    font-size: 30px;
    line-height: 36px;
  }
}
