.cover {
  position: relative;
  margin: 0 auto;
  margin-top: 92px;
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  height: 0;
}

.cover::before {
  content: "";
  position: absolute;
  background-color: var(--asphalt);
  opacity: 0.3;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  transition: all 400ms;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 320px) {
  .cover {
    margin-top: 66px;
    max-width: 100%;
    min-height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .cover {
    margin-top: 90px;
    max-width: 100%;
    height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-top: 92px;
    max-width: 100%;
    height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    margin-top: 92px;
    max-width: 1184px;
    height: 740px;
  }
}
