.footer__item {
  margin: unset;
  padding: unset;
  margin-right: 18px;
}

.footer__item:last-of-type {
  margin-right: unset;
}

@media screen and (max-width: 320px) {
  .footer__item {
    margin-right: unset;
    margin-bottom: 32px;
  }

  .footer__item:last-of-type {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 320px) {
  .footer__item {
    margin-right: unset;
    margin-bottom: 32px;
  }

  .footer__item:last-of-type {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 768px) {
  .footer__item {
    margin-right: 18px;
    margin-bottom: unset;
  }

  .footer__item:last-of-type {
    margin-right: unset;
  }
}
