.cover__title {
  z-index: inherit;
  max-width: 560px;
  margin: 0 auto;
  padding: unset;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: var(--white);
}

@media screen and (min-width: 320px) {
  .cover__title {
    max-width: 255px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (min-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
  }
}
