.place {
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-columns: 460px auto;
  row-gap: 48px;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: unset;
}

@media screen and (min-width: 320px) {
  .place {
    margin-bottom: 50px;
    grid-template-columns: unset;
    row-gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .place {
    margin-bottom: 72px;
    grid-template-columns: 340px auto;
    column-gap: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    margin-bottom: 80px;
    grid-template-columns: 440px auto;
    column-gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px auto;
    column-gap: 40px;
  }
}
