.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 24px;
}

@media screen and (min-width: 320px) {
  .footer {
    flex-direction: column;
    margin-top: 64px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 0 auto;
    margin-bottom: 24px;
    margin-top: 88px;
    flex-direction: row;
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
  }
}
