.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 320px) {
  .place__website {
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 320px) {
  .place__website {
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .place__website {
    margin-right: unset;
    margin-left: unset;
  }
}
