.page__container {
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .page__container {
    max-width: 100%;
  }
}

@media screen and (min-width: 320px) {
  .page__container {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .page__container {
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .page__container {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .page__container {
    max-width: 984px;
  }
}
