.intro__content {
  max-width: 690px;
}

@media screen and (max-width: 320px) {
  .intro__content {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .intro__content {
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__content {
    max-width: 690px;
  }
}
